.start-container {
  display: flex;
  flex-wrap: wrap; /* Kartların yatayda düzenlenmesini sağlar */
  justify-content: center; /* Kartları yatayda ortalar */
  align-items: center;
  padding: 20px;
}


.card {
  flex: 1; /* Kartların eşit genişlikte olmasını sağlar */
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #333;
  color: #fff;
}
/* Telefonlar ve küçük tabletler */
@media (max-width: 767px) {
  .start-container {
    flex-direction: column; /* Kartları dikey düzenle */
    align-items: center;
  }
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #149ddd;
}

.card .card-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.card .card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card .card-description {
  font-size: 14px;
}

.bx {
  font-size: 36px;
}
