<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Hasan Aslan</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
  </head>

  <body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="/assets/img/profile-img.jpg"
            alt=""
            class="img-fluid rounded-circle"
          />
          <h1 class="text-light">
            <a href="/assets/index.html">Hasan Aslan</a>
          </h1>
          <div class="social-links mt-3 text-center">
            <a href="https://twitter.com/Hasan42328" class="twitter"
              ><i class="bx bxl-twitter"></i
            ></a>
            <a href="https://www.instagram.com/hasan_a.cs/" class="instagram"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/hasan-aslan-4931b31a5/"
              class="linkedin"
              ><i class="bx bxl-linkedin-square"></i
            ></a>
            <a href="https://github.com/hasaslandev" class="bi-github"
              ><i class="bx github"></i
            ></a>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <!--<a href="#hero" class="nav-link scrollto active"
-->
            <li>
              <a
                id="hero-link"
                href="#hero"
                [ngClass]="{
                  'nav-link': true,
                  scrollto: true,
                  active: isLinkActive('hero-link')
                }"
                (click)="handleLinkClick('hero-link')"
                ><i class="bx bx-home"></i> <span>Ana Menü</span></a
              >
            </li>
            <li>
              <a
                id="about-link"
                href="#about"
                [ngClass]="{
                  'nav-link': true,
                  scrollto: true,
                  active: isLinkActive('about-link')
                }"
                (click)="handleLinkClick('about-link')"
                ><i class="bx bx-user"></i> <span>Hakkımda</span></a
              >
            </li>
            <li>
              <a
                id="resume-link"
                href="#resume"
                [ngClass]="{
                  'nav-link': true,
                  scrollto: true,
                  active: isLinkActive('resume-link')
                }"
                (click)="handleLinkClick('resume-link')"
                ><i class="bx bx-file-blank"></i> <span>Özgeçmişim</span></a
              >
            </li>
            <li>
              <a
                id="services-link"
                href="#services"
                [ngClass]="{
                  'nav-link': true,
                  scrollto: true,
                  active: isLinkActive('services-link')
                }"
                (click)="handleLinkClick('services-link')"
              >
                <i class="bx bx-server"></i>
                <span>
                  Bu Web Sitesini Geliştirirken<br />
                  Şunları Kullandım<br />
                </span>
              </a>
            </li>
            <li>
              <a
                id="skills-link"
                href="#skills"
                [ngClass]="{
                  'nav-link': true,
                  scrollto: true,
                  active: isLinkActive('skills-link')
                }"
                (click)="handleLinkClick('skills-link')"
                ><i class="bx bx-alarm-add"></i> <span>Yeteneklerim</span></a
              >
            </li>
            <li>
              <a
                id="portfolio-link"
                href="#portfolio"
                [ngClass]="{
                  'nav-link': true,
                  scrollto: true,
                  active: isLinkActive('portfolio-link')
                }"
                (click)="handleLinkClick('portfolio-link')"
                ><i class="bx bx-book-content"></i> <span>Bloglarım</span></a
              >
            </li>

            <li>
              <a
                id="portfolio-link"
                href="#contact"
                [ngClass]="{
                  'nav-link': true,
                  scrollto: true,
                  active: isLinkActive('contact-link')
                }"
                (click)="handleLinkClick('contact-link')"
                ><i class="bx bx-envelope"></i> <span>İletişim</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <router-outlet></router-outlet>
      <!-- ======= Breadcrumbs ======= -->
      <!-- <div>
        <app-hero></app-hero>
      </div>
      <div>
        <app-about></app-about>
      </div>
      <div>
        <app-skill></app-skill>
      </div>
      <div>
        <app-resume></app-resume>
      </div>
      <div>
        <app-portfolio></app-portfolio>
      </div>
      <div>
        <app-service-manager></app-service-manager>
      </div>
      <div>
        <app-contact></app-contact>
      </div>
      <div>
        <app-admin-dashboard></app-admin-dashboard>
      </div> -->
    </main>
    <!-- <app-footer></app-footer> -->
  </body>
</html>
