<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <!--data-aos="fade-up"-->
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Hasan Aslan</h4>
          <p>
            <em
              >I'm Hasan, aspiring software developer. Enthusiastic about modern
              tech like .NET Core, Bootstrap, Angular, SQL, jQuery. Eager to
              dive into tech, improving through projects. Worked on small
              projects, grasped .NET Core fundamentals, basic web apps. Designed
              interfaces with Bootstrap, jQuery. Learning dynamic web pages with
              Angular. Exploring SQL database, basic principles. Enhancing
              skills via practical SQL queries, database management. Committed
              to learning, interested in teamwork, problem-solving. Excited to
              contribute to software development.</em
            >
          </p>
          <ul>
            <li>aslanlar531@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Master of Fine Arts &amp; Graphic Design</h4>
          <h5>2015 - 2016</h5>
          <p>
            <em>Selcuk Univercity Institute of Technology, Konya</em>
          </p>
          <p>I will start the 3rd year of Selçuk University.</p>
        </div>
        <div class="resume-item">
          <h4>Associate Degree in Computer Programming.</h4>
          <h5>2010 - 2014</h5>
          <p><em>Necmettin Erbakan Univercity, Konya</em></p>
          <p>
            I completed my 2-year education and came to a certain level in C#.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <!--data-aos="fade-up" data-aos-delay="100"-->
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Intern</h4>
          <h5>2023 - Present(1 month)</h5>
          <p><em>Cabitaş Mühendislik, Konya </em></p>
          <ul>
            <li>Teamwork</li>
            <li>FileMaker and low-code platforms(OutSystems-bubble.io).</li>
          </ul>
        </div>
        <!-- <div class="resume-item">
          <h4>Graphic design specialist</h4>
          <h5>2017 - 2018</h5>
          <p><em>Stepping Stone Advertising, New York, NY</em></p>
          <ul>
            <li>
              Developed numerous marketing programs (logos,
              brochures,infographics, presentations, and advertisements).
            </li>
            <li>
              Managed up to 5 projects or tasks at a given time while under
              pressure
            </li>
            <li>
              Recommended and consulted with clients on the most appropriate
              graphic design
            </li>
            <li>
              Created 4+ design presentations and proposals a month for clients
              and account managers
            </li>
          </ul>
        </div>-->
      </div>
    </div>
  </div>
</section>
